{% extends 'layout.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}6%

<h1 class="bg-yellow-500 text-3xl">Coffee aur Code | Home Page</h1>
<p class="text-center w-5rem" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque aspernatur iure laudantium mollitia adipisci eos illum cum natus asperiores dolor perferendis odio, vitae fuga recusandae odit dignissimos nisi beatae itaque sunt qui eligendi. Veritatis nisi fuga inventore ad quo exercitationem dignissimos consequatur amet impedit accusantium explicabo error sunt consequuntur dolorem quidem officiis nemo totam, rem repellat! Laudantium, quas repudiandae modi minus laboriosam vitae vero sit ex sapiente. Amet, vitae quasi. Cum est aperiam dolorum quod praesentium facilis atque ut ullam, unde possimus labore dolorem ducimus error corporis totam placeat nulla accusantium voluptates nihil. In, maiores itaque. Architecto nesciunt iusto commodi.</p>

{% endblock %}
