{% comment %} ye ek common file hai, jo hr jagah use hoge!!  {% endcomment %}


{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} # iss block ka name title hoga
        Default Value
        {% endblock %}

    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    {% tailwind_css %}
    

</head>
<body>
    <nav>This is our navbar!!</nav>
    {% block content %} #iss block ka name contact hoga
    
    {% endblock %}
</body>
</html>