{% extends 'layout.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<h1>All Coffee For You</h1>

<div class="grid grid-cols-3 gap-4 m-4">

{% for COD in coffees  %}
    <div class="bg-blue-600 p-5 rounded">
        
        <img class="rounded shadow-lg" src="{{COD.image.url}}" alt="">
        <h3 class="text-3xl font-bold">{{COD.name}}</h3>
        <a href="{% url 'coffee_detail' COD.id %}">
            <button
            type="button"
            class="inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm fornt-medium rounded-md text-white bg-orange-600 hover:bg-orange-800 focus:outline-none focus:ring-2 focus:ring-offset_2 focus:ring-orange-500">
                {{COD.type}} - {{COD.id}}
            </button>
        </a>
    </div>



{% endfor %}

</div>
{% endblock %}

